*.md
*.pyc
scscore-master/*
scscore/*
synga-FE64/*
ChemProjector-main/*
LLM-Syn-Planner-main/*
*.txt
*.smi
EvoRRP-main/*
AutoSynRoute-master/*
reaction_prediction_seq2seq-master/*
jul_5_2017_1/*
NAG2G-main/*
/ASKCOS/*